* {
  margin: 0;
  padding: 0;
}

*, *::before, *::after {
  box-sizing: border-box;
  font-size: 14px;
  scroll-behavior: smooth;
}

body {
  font-family: "Courgette", cursive;
  font-size: 30px;
  line-height: 1.5;
  color: #fff;
}

h1, h2 {
  font-family: inherit;
  font-weight: 550;
  text-align: center;
}

h1 {
  font-size: 75px;
  color: #66FCF1;
}


h2 {
  font-size: 55px
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
  color: #C5C6C7;
}

img {
  display: block;
  width: 100%;
}

.nav {
  display: flex;
  justify-content: flex-end;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background: #1F2833;
  box-shadow: 0 2px 0 rgba(0, 0, 0, 0.5);
  z-index: 10;
}

.nav-list {
  display: flex;
}

.nav-list a {
  display: block;
  font-size: 30px;
  margin: 15px;
}

.nav-list a:hover {
  color: #45A29E;
}

.welcome-section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100vh;
  background-color: #0b0c10;
}

.welcome-section > p {
  font-size: 45px;
}

.projects-section {
  text-align: center;
  padding: 95px 30px;
  background-color: #45A29E;
}

.projects-header {
  width: 100%;
  margin: 0 auto 20px auto;
}

hr {
  margin-bottom: 85px;
  background-image: linear-gradient(to right, rgba(255, 255, 255, 0), rgba(255, 255, 255, 0.75), rgba(255, 255, 255, 0));
}

.projects-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(320px, 1fr));
  grid-gap: 64px;
  width: 100%;
  max-width: 1280px;
  margin: 0 auto;
  margin-bottom: 96px;
}

.project {
  background: #1F2833;
  box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.5);
  border-radius: 2px;
}

.code {
  color: #1F2833;
  transition: color 0.3s ease-out;
}

.project:hover .code {
  color: #ff7f50;
}

.project-image {
  height: calc(100% - 6.8rem);
  width: 100%;
  object-fit: cover;
}

.project-title {
  font-size: 30px;
  padding: 30px 10px;
}

.contact-section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  width: 100%;
  height: 80vh;
  padding: 0 30px;
  background: #0B0C10;
}

.contact-header > h2 {
  font-size: 70px;
  color: #66FCF1;
}

.contact-section p {
  font-size: 30px;
}

.contact-links {
  display: flex;
  justify-content: center;
  width: 100%;
  max-width: 980px;
  margin-top: 50px;
  flex-wrap: wrap;
}

.contact-details {
  font-size: 35px;
  text-shadow: 2px 2px 1px #1f1f1f;
  transition: transform 0.3s ease-out;
  padding: 15px
}

.contact-details:hover {
  transform: translateY(-8px);
}

footer {
  display: flex;
  justify-content: space-evenly;
  background: #0B0C10;
  border-top: 4px solid #66FCF1;
}

footer > p {
  margin: 30px;
  font-size: 25px;
}

/*Media Queries*/

@media (max-width: 460px) {
  .nav {
    justify-content: center;
  }
  .nav-list {
    margin: 0 15px;
  }

  .projects-header {
    font-size: 60px;
  }

  .projects-section {
    padding: 100px, 15px;
  }
  .projects-grid {
    grid-template-columns: 1fr;
  }
  
  .contact-header > h2{
    font-size: 60px;
  }
}